:root {
    --primary: #3B71CA;
    --bg: #fff;
    --textColor: #333;
    --buttonColor: #007bff; 
    --hoverColor: #0056b3; 
    --twitter: #14171A;
    --facebook: #4267B2;
    --google: #db4437; 
    --github: #333;
    --linkedin:#004182;
    --whatsapp:#128C7E;
}

body {
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--primary);
    color: white;
}

.header-logo {
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    height: auto;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem;
}
.nav-tabs {
    flex-wrap: wrap;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-link {
    display: block;
    padding: 10px;
    font-size: 16px;
}

.card {
    margin-bottom: 20px; 
}

.card-body {
    border: 5px solid var(--buttonColor);
    border-radius: 15px;
}

.qrcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

.qrcode-frame {
    padding: 20px;
    display: inline-block;
    background-color: transparent;
    margin-bottom: 30px;
}
.qrcode-text {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-size: 18px;
    font-family: cursive;
    color: var(--textColor);
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    background: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.notification-container {
    text-align: center;
    margin-bottom: 5px; /* Space between the notification button and share section */
}

/* Style for the visitor counter inside the button */
.visitor-counter {
    font-size: 12px;
    background-color: #f8f9fa; /* Badge background color */
    color: #333; /* Text color */
    border-radius: 10px;
    padding: 3px 7px;
    margin-left: 5px;
}
.share {
    position: relative;
    text-align: center;
    width: 200px; 
    margin: auto;
    border-radius: 50px;
    background-color: #f0f0f0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
 }

 .share span {
    width: 100%; 
    line-height: 1.5; 
    display: inline-block;
    font-weight: 700; 
    text-transform: uppercase; 
    text-align: center; 
    margin-bottom: 15px; 
    color: #fff; 
    background-color: var(--buttonColor);
    border-radius: 30px; 
    padding: 10px 0; 
    cursor: pointer; /* Change cursor to pointer */
 }

 .share nav {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    visibility: hidden; 
  }

  .share nav.active {
    opacity: 1; 
    transform: translateY(0); 
    visibility: visible; 
  }

  .share nav a {
    width: 40px; 
    height: 30px; 
    display: flex; 
    align-items: center;
    margin: auto; 
    justify-content: center; 
    background-color: var(--buttonColor);
    color: white; 
    overflow: hidden; 
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 50%; 
  }

  .share nav a.share-button-fb:hover {
    background-color:var(--facebook);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .share nav a.share-button-tw:hover {
    background-color:var(--twitter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .share nav a.share-button-ln:hover {
    background-color: var(--linkedin);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .share nav a.share-button-wa:hover {
    background-color: var(--whatsapp);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }



footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .qrcode-frame {
        padding: 15px;
        margin-bottom: 30px;
    }

    .qrcode-text {
        bottom: -30px;
        font-size: 16px;
        padding: 5px 8px;
    }
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1.25rem;
    }

    .header-logo {
        max-width: 150px;
    }

    .nav-tabs {
        flex-direction: column;
    }

    .nav-link {
        padding: 10px;
        font-size: 12px; 
    }

    .qrcode-container {
        padding: 15px;
    }

    .qrcode-frame {
        padding: 10px;
        margin-bottom: 30px;
    }

    .qrcode-text {
        bottom: -50px;
        font-size: 14px;
        padding: 5px 8px;
    }
    h3 {
        font-size: 14px;
    }
    li {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 1rem;
    }

    .header-logo {
        max-width: 120px;
    }

    .nav-link {
        padding: 8px;
        font-size: 12px; 
    }

    .qrcode-frame {
        padding: 5px;
        margin-bottom: 40px;
    }

    .qrcode-text {
        bottom: -50px;
        font-size: 12px;
        padding: 5px 8px;
    }
    h3 {
        font-size: 14px;
    }
     li {
        font-size: 12px;
    }
}
